
Praktikum/Praktikum/Praktikum.csproj
Praktikum/Praktikum/obj/project.nuget.cache
Praktikum/Praktikum/obj/project.assets.json
Praktikum/Praktikum/obj/Praktikum.csproj.nuget.g.targets
Praktikum/Praktikum/obj/Praktikum.csproj.nuget.g.props
Praktikum/Praktikum/obj/Praktikum.csproj.nuget.dgspec.json
Praktikum/Praktikum/obj/Debug/net8.0/refint/Praktikum.dll
Praktikum/Praktikum/obj/Debug/net8.0/ref/Praktikum.dll
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.sourcelink.json
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.pdb
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.GlobalUsings.g.cs
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.genruntimeconfig.cache
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.GeneratedMSBuildEditorConfig.editorconfig
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.dll
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.csproj.FileListAbsolute.txt
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.csproj.CoreCompileInputs.cache
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.csproj.BuildWithSkipAnalyzers
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.assets.cache
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.AssemblyInfoInputs.cache
Praktikum/Praktikum/obj/Debug/net8.0/Praktikum.AssemblyInfo.cs
Praktikum/Praktikum/obj/Debug/net8.0/apphost.exe
Praktikum/Praktikum/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Praktikum/Praktikum/bin/Debug/net8.0/Praktikum.runtimeconfig.json
Praktikum/Praktikum/bin/Debug/net8.0/Praktikum.pdb
Praktikum/Praktikum/bin/Debug/net8.0/Praktikum.exe
Praktikum/Praktikum/bin/Debug/net8.0/Praktikum.dll
Praktikum/Praktikum/bin/Debug/net8.0/Praktikum.deps.json
Praktikum/Praktikum.sln
Praktikum/.vs/Praktikum/v17/DocumentLayout.json
Praktikum/.vs/Praktikum/v17/DocumentLayout.backup.json
Praktikum/.vs/Praktikum/v17/.suo
Praktikum/.vs/Praktikum/FileContentIndex/57ac503c-92a9-4949-9779-f4b4d73ae30a.vsidx
Praktikum/.vs/Praktikum/ColorByRegexConfig.txt
*.vsidx
*.v2
